@charset "utf-8";
::-webkit-scrollbar/*整体部分*/
{
    width: 5px;
    height:5px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
    width:5px;  background: rgba(0,0,0,0.74); border-radius: 100px;

}

::-webkit-scrollbar-thumb/*滑块*/
{
    width:5px; background: #EB4346; /*box-shadow: 0 0 3px 0 rgba(160,0,0,0.84);*/border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
    border-radius: 5px;
}
body{ overflow-x: hidden!important; overflow-y: auto!important;}