<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>图片专题重构(自定义滚动条)</title>
    <link type="text/css" rel="stylesheet" href="res/css/style.css">
    <link type="text/css" rel="stylesheet" href="res/css/picture-list-cus.css">
</head>
<body ng-controller="personCtrl">
<div class="tab-title">
    <div ng-class="{true: 'on', false: ''}[isPicture]" ng-click="tab('picture')">精选</div>
    <div ng-class="{true: '', false: 'on'}[isPicture]" ng-click="tab('special')">专题</div>
</div>


<div class="scroll-cont">
    <div class="blank" style="height: 55px;"></div>

    <div class="picture" ng-if="isPicture">
        <ul id="ul" class="clearfix">
            <li class="li" ng-repeat="item in pictureList" on-finish-render-filters>
                <div class="box">
                    <img ng-src="{{item.iconfid | filterImgUrl}}" err-src="res/img/search.png"/>
                    <div class="box-hover"><span>{{item.description}}</span></div>
                </div>
            </li>
        </ul>
        <div class="more" ng-click="getPicMore()" ng-if="!isPicEnd"><img src="res/img/icon_more_on.png"></div>
        <div class="more" ng-if="isPicEnd"><img src="res/img/icon_more_off.png"></div>
    </div>

    <div class="special" ng-if="!isPicture">
        <ul class="clearfix">
            <li ng-repeat="item in specialList" on-finish-render-filters22>
                <a href="special-detail.html?specialId={{item.id}}">
                    <div class="box">
                        <div class="img"><img ng-src="{{item.posterfid | filterImgUrl}}" err-src="res/img/search.png"/></div>
                        <div class="box-hover"><span>{{item.description}}</span></div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="more" ng-click="getSpecMore()" ng-if="!isSpecEnd"><img src="res/img/icon_more_on.png"> </div>
        <div class="more" ng-if="isSpecEnd"><img src="res/img/icon_more_off.png"></div>
    </div>
</div>
<div class="scroll-bar">
    <div class="scroll-slider"></div>
</div>

<!--专题-->
<!--<div class="special">
<div class="scroll-cont2">
    <div class="blank" style="height: 55px;"></div>
    <ul class="clearfix">
        <li ng-repeat="item in specialList" on-finish-render-filters22>
            <a href="special-detail.html?specialId={{item.id}}">
            <div class="box">
                <div class="img"><img ng-src="{{item.posterfid | filterImgUrl}}" err-src="res/img/search.png"/></div>
                <div class="box-hover"><span>{{item.description}}</span></div>
            </div>
            </a>
        </li>
    </ul>

    <div class="more" ng-click="getSpecMore()" ng-if="!isSpecEnd"><img src="res/img/icon_more_on.png"> </div>
    <div class="more" ng-if="isSpecEnd"><img src="res/img/icon_more_off.png"></div>
</div>
<div class="scroll-bar2">
    <div class="scroll-slider2"></div>
</div>
</div>-->

<script type="text/javascript" src="res/js/cfg.js"></script>
<script type="text/javascript" src="res/js/util.js"></script>
<script type="text/javascript" src="res/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="res/js/waterfall.js"></script>
<script type="text/javascript" src="res/js/qwrap.js"></script>
<script type="text/javascript" src="res/js/js-csb.js"></script>
<script type="text/javascript" src="res/js/angular.min.js"></script>
<script type="text/javascript" src="src/pictureList.js"></script>

</body>
</html>